:root {
    --background-color: #4D3636;
    --background-color2: #664747;
    --color: white;
    --active-link-color: white;
    --visited-link-color: #808080;
    --border-color:  white; 
}

body>aside, main article.summary a.more-link {
    display: none;
}

header { padding-top: calc( var(--line-height) * 2 ); }

article .summary a.more-link { display: inline; }

figure.meeting-minutes blockquote { padding-top: calc( var(--line-height) * 2 ); }

/*.quote-only { font-style: normal; }*/

